<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<array>
		<string>static/fonts/Oxanium-Regular.ttf</string>
		<string>static/fonts/Oxanium-Medium.ttf</string>
		<string>static/fonts/Oxanium-SemiBold.ttf</string>
		<string>static/fonts/Oxanium-Bold.ttf</string>
		<string>static/fonts/Oxanium-ExtraBold.ttf</string>
		<string>static/fonts/Lato-Italic.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>New Exception Domain</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>openrouter.ai</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
